/*
Colors used
Primary Color (Black): #151515;
Secondary Color (White): #ffffff;
Accent Color 1 (Periwinkle): #ccccff;
Accent Color 2 (Gray): #808080;
*/

*{
  box-sizing: border-box;
}

/* Text Stylings */
body {
  background-color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  font-weight: 300;
  line-weight: 1.6;
  color: #151515;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1{
  font-size: 2.75em;
  font-weight: 400;
}
h2{
  font-size: 2.25em;
  font-weight: 300;
}
h3{
  font-size: 1.75em;
  font-weight: 300;
}
h4{
  font-size: 1.35em;
  font-weight: 300;
}

p{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
}

/* Images & Logos */
img{
  width:100%;
}

.logo{
  max-width: 250px;
  margin-top: 10px;
}

#about .profile{
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#content .contentimg{
  max-width: 750px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#contact .social{
  max-width: 55px;
  text-align: center;
  display: inline-block;
}

/* Layout Stylings */

  /* Header Stylings */
header{
  background-color: #ffffff;
  text-align: center;
  position: relative;
  padding: 10px 0;
}

  /* Body (Content) Stylings */
#title{
  text-align: center;
}

#content h2{
  text-align: center;
}

#content .process{
  border-top: 1px solid #808080;
}

#content .conclusion{
  border-bottom: 1px solid #808080;
}

  /* Footer Stylings */
#contact {
  background-color: #ffffff;
  text-align: center;
  position: relative;
  padding: 10px 0;
}
#contact {
  display: inline-block;
  width:100%;
}

  /* Other Layout Stylings */
main {
  padding-top: 30px;
}

.container{
  padding: 0 15px;
}

.row{
  margin: 25px 0;
}

#work .row{
  padding-bottom: 25px;
  border-bottom: 1px solid #808080;
}

#hero{
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1{
  text-align: center;
}

#hero p{
  text-align: center;
}

#hero span{
  display: block;
}
/* Hyperlinks */
a{
  color: #151515;
  text-decoration: none;
}
a:visited,
a:focus {
  color:#151515;
}
a:hover,
a:focus {
  color: #ccccff;
  text-decoration: underline;
}
a:active,
a:focus {
  color: #808080;
}

/* Navigation */
nav{
  display: inline-block;
  width: 100%;
}

nav > ul{
  list-style-type: none;
  padding: 0;
}

nav > ul > li{
  display: inline-block;
}

nav > ul > li > a{
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #151515;
}

/* Buttons (Add this at the end) */

.button{
  display: inline-block;
  border: 1px solid #151515;
  background-color: #ffffff;
  color: #151515;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  padding: 15px;
  border-radius: 30px;
  transition-duration: 0.2s;
  transition-property; opacity;
}

.button:hover {
  background-color: #ccccff;
  color: #151515;
  text-decoration: none;
  opacity: 0.8;
}

#work .button{
  position: relative;
  left: 35%;
  right: 65%;
}

#about .button{
  position: relative;
  left: 33%;
  right: 67%;
}

/** Animations **/

@keyframes person-move{
  from {transform: translate(30px,-120px);}
  to {transform: translate(150px,-150px);}
}

.person{
  animation: 10s person-move infinite alternate linear;
}
/* Media Queries */

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header{
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav{
    width: auto;
    float: right;
    margin-top: 4px;
  }
  .col-md-6{
    width: 50%;
  }
  [class*="col-"]{
    float: left;
    padding: 0px 10px;
  }
  .row::after{
    content: "";
    clear: both;
    display: table;
  }
  #about h2{
    text-align: center;
  }
  #about-page h3{
    margin-top: 0;
    white-space: nowrap;
  }

}

/* ==============================
Large devices (1024px and larger)
================================= */
@media only screen and (min-width: 1024px) {
  body{
    font-size: 16px;
  }
  .col-lg-7{
    width: 60%;
  }
  .col-lg-5{
    width: 40%;
  }

  .row-lg{
    clear: both;
    display: table;
    position: relative;
    left: 15%;
    right: 85%;
    }
    
  .container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px and larger)
================================= */
@media only screen and (min-width: 1440px) {
}
